<!--
 Copyright (c) 2018 Christopher Gundlach
-->

<div class="buttons">
  <button mat-button (click)="rollIni()" [disabled]="!(units$|async)" *ngIf="system.iniCalc !== 'none'">Initiative auswürfeln</button>
  <button mat-button (click)="nextIniPass()" [disabled]="!anyUnitHasIniPassesLeft" *ngIf="system.multipleInitiativePasses">Nächster Initiativedurchgang</button>
  <button mat-button (click)="rollIni()" *ngIf="system.iniCalc === 'none' && system.multipleInitiativePasses">Initiativedurchgänge zurücksetzen</button>
</div>
<mat-table class="ini-table" [dataSource]="iniTracker$">
  <ng-container matColumnDef="unitName">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let unit">{{unit.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="unitIni">
    <mat-header-cell *matHeaderCellDef>Initiative</mat-header-cell>
    <mat-cell *matCellDef="let unit">{{unit.rolledIni}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="unitIniPasses">
    <mat-header-cell *matHeaderCellDef>Ini-Durchgänge </mat-header-cell>
    <mat-cell *matCellDef="let unit">{{unit.initiativePasses}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="unitDice">
    <mat-header-cell *matHeaderCellDef>Würfel</mat-header-cell>
    <!-- <mat-cell *matCellDef="let unit">{{unit.rolledDice}} -->
    <mat-cell *matCellDef="let unit">
      <span *ngFor="let die of unit.rolledDice">
        <span class=diceCountHits-Hit *ngIf="system.iniCalc==='countHits' && (die === 5 || die === 6)">{{die}}</span>
        <span class=diceCountHits-One *ngIf="system.iniCalc==='countHits' && die === 1">{{die}}</span>
        <span class=diceCountHits *ngIf="system.iniCalc==='countHits' && die >= 2 && die <= 4">{{die}}</span>
        <span class=dice *ngIf="system.iniCalc !== 'countHits'">{{die}} </span>
      </span>
      <span *ngIf="unit.glitch && !unit.criticalGlitch">
        <br>Patzer!</span>
      <span *ngIf="unit.criticalGlitch">
        <br>Kritischer Patzer!</span>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</mat-table>