/**
 *Copyright (c) 2018 Christopher Gundlach
 */

.initracker {
  width: 100%;
  /* flex: 1 0 1; */
}

.diceCountHits-Hit {
  color: green;
  font-weight: bold;
}

.diceCountHits-One {
  color: red;
}

.dice {
  margin-left: 0.5em;
}

.buttons {
  flex: 1 0 10%;
}

.ini-table {
  flex: 1 0 auto;
}
