/**
 *Copyright (c) 2018 Christopher Gundlach
 */

.unit-list {
  /* flex: 1 1 auto; */
}

.unitName {
  width: 50%;
  margin: 2%;
  /* flex: 5 1 50%; */
}

.iniInput {
  width: 15%;
  /* flex: 2 1 15%; */
  margin: 2%;
}

.iniPassesInput {
  /* flex: 2 1 15%; */
  width: 15%;
}
