<!--
 Copyright (c) 2018 Christopher Gundlach
-->

<mat-form-field class=nameInput floatLabel="auto">
  <input matInput #addName formControlName="addName" type="text" placeholder="Name" (keyup.enter)="addUnit(addName.value)">
</mat-form-field>
<button mat-button (click)="addUnit(addName.value)" [disabled]="addName.value===''">Hinzufügen</button>
<div class=iniList>
  <mat-list>
    <h3 mat-subheader>Initiative</h3>
    <span *ngIf="!(units$|async) || (units$|async).length === 0">Noch keine Einheiten hinzugefügt</span>
    <mat-list-item *ngFor="let unit of (units$|async)">
      <span class=unitName>{{unit.name}}:</span>
      <mat-form-field class=iniInput>
        <input placeholder="Ini" #setIni matInput formControlName="setIni" type="string" (keyup)="setInitiative(unit.name, setIni.value)">
      </mat-form-field>
      <mat-form-field class=iniPassesInput>
        <input placeholder="Durchgänge" [value]=1 #setIniPasses matInput formControlName="setIniPasses" type="string" (keyup)="setInitiativePasses(unit.name, setIniPasses.value)"
          tabindex="-1" [disabled]="!system.multipleInitiativePasses">
      </mat-form-field>
      <button mat-button (click)="deleteUnit(unit.name)" tabindex="-1">Löschen</button>
    </mat-list-item>
  </mat-list>
</div>