<!--
 Copyright (c) 2018 Christopher Gundlach
-->

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
        [opened]="!(isHandset | async)!.matches">
        <mat-toolbar color="primary">Menü</mat-toolbar>
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/" class="nav-list-item">Initiative-Tracker</a>
            <!-- <a mat-list-item routerLink="/manageSessions" class="nav-list-item">Link 2</a> -->
            <div class="divider"></div>
            <a mat-list-item (click)="openAboutDialog()" class="nav-list-item-bottom">Über dieses Programm</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
                <mat-icon aria-label="Side nav toggle icon">Menü</mat-icon>
            </button>
            <span>Initiative-Tracker</span>
        </mat-toolbar>
        <div class="routed-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>