/**
 *Copyright (c) 2018 Christopher Gundlach
 */

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.routed-content {
  margin: 1% 1% 1% 1%;
}

.nav-list {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.nav-list-item {
}

.divider {
  flex-grow: 1;
}

.nav-list-item-bottom {
  width: 100%;
  align-self: flex-end;
}
