/**
 *Copyright (c) 2018 Christopher Gundlach
 */

.systemSelect {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.mainContent {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: flex-start; */
  width: 100%;
}

.system-description {
  width: 100%;
  margin: auto;
}

.ini-list {
  flex: 3 1 auto;
}

.unit-list {
  flex: 1 1 auto;
  width: 300px;
}
