<!--
 Copyright (c) 2018 Christopher Gundlach
-->

<!-- System ändern: -->
<div class=systemSelect>
  <mat-form-field class="systemSelector">
    <mat-select placeholder="System auswählen:" [(value)]="system" (closed)="changeSystem(system)">
      <mat-option *ngFor="let systemOption of systems" [value]="systemOption">
        <!-- <img [src]=systemOption.imgsource style="width:75px;height:50px;">  To add icons-->
        {{ systemOption.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p class="system-description">{{system.description}}</p>
</div>
<div class=mainContent>
  <initracker-unit-list class="unit-list" [system]="system"></initracker-unit-list>
  <initracker-ini-list class="ini-list" [system]="system"></initracker-ini-list>
</div>
<div class=copyright-notice *ngIf="system.copyrightNotice">
  <initracker-copyright-notice [system]="system"></initracker-copyright-notice>
</div>