<!--
 Initiative Tracker
 
 Copyright 2018 Christopher Gundlach
-->

<p>
  Initiative Tracker v{{version}}
</p>
<p>
  Copyright 2018 Christopher Gundlach
</p>

<!-- Trademark notices -->

<p *ngFor="let system of SYSTEMS">
  {{system.copyrightNotice}}
</p>

<mat-expansion-panel>
  <mat-expansion-panel-header>Changelog</mat-expansion-panel-header>
  <pre>{{changelog}}</pre>
</mat-expansion-panel>